/01_train_code/pths
/01_train_code/__pycache__
/01_train_code/model.py
/01_train_code/loss.py
/01_train_code/east_dataset.py
/01_train_code/detect.py
/data
/02_EDA/base_eda.ipynb
/03_train_val/data
*.pth
*.pyc
/02_EDA/03_data_cleaning.ipynb
/02_EDA/model.py
/02_EDA/loss.py
/02_EDA/data